<a href="https://colab.research.google.com/github/carolvieirav/Estatistica_Python/blob/main/Machine%20Learning/resolu%C3%A7%C3%A3o/exerc%C3%ADcio_clusteriza%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# importe as bibliotecas 
import numpy as np
import pandas as pd

# Exercício

Começaremos trabalhando com o conjunto de dados `wine` no scikit-learn. 

Começamos carregando o conjunto de dados usando a função `load_wine` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_wine.html)). Na célula abaixo, importaremos a função do scikit-learn.

In [2]:
from sklearn.datasets import load_wine

Na célula abaixo, use a função load_wine e atribua o conjunto de dados wine a uma variável.

In [3]:
# digite seu código
wine = load_wine()

Execute o código a seguir para transformar wine em um dataframe:

In [9]:
df = pd.DataFrame(data= np.c_[wine['data'], wine['target']],
                     columns= wine['feature_names'] + ['target'])

In [12]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0.0

# Agrupando o conjunto de dados

Nesta parte do exercício, agruparemos os dados para encontrar características comuns entre os diferentes vinhos. Usaremos o algoritmo de agrupamento k-means para atingir esse objetivo.

#### Começamos importando k-means do scikit-learn e então criamos 4 clusters.

In [14]:
# digite seu código
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=4)

kmeans.fit(df)

KMeans(n_clusters=4)

#### `Print` o `label_` do clusters

In [18]:
# digite seu código
kmeans.labels_

array([3, 3, 1, 1, 0, 1, 1, 1, 3, 3, 1, 1, 1, 3, 1, 1, 1, 3, 1, 0, 0, 0,
       3, 3, 0, 0, 1, 1, 3, 3, 1, 1, 3, 1, 3, 3, 3, 3, 3, 0, 0, 3, 3, 0,
       3, 3, 3, 3, 3, 1, 3, 1, 1, 1, 3, 3, 3, 1, 1, 2, 0, 2, 0, 2, 2, 0,
       2, 2, 0, 0, 3, 2, 2, 3, 3, 2, 2, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2, 2,
       0, 0, 2, 2, 2, 2, 2, 3, 0, 2, 0, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 0,
       2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2,
       2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 2, 0, 0, 2, 0, 0, 2, 2, 2, 2, 0,
       0, 0, 2, 3, 0, 0, 2, 0, 2, 0, 0, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0,
       0, 2], dtype=int32)

#### Calcule o tamanho de cada cluster. Isso pode ser feito contando o número de ocorrências de cada label único na lista acima.

Qual é o maior cluster dos 4?

In [25]:
# digite seu código
np.unique(kmeans.labels_, return_counts=True)

(array([0, 1, 2, 3], dtype=int32), array([57, 23, 66, 32]))

#### Qual é o teor médio de `ash` para cada cluster?

In [28]:
# digite seu código
df['Cluster'] = kmeans.labels_

In [30]:
df.groupby('Cluster')['ash'].mean()

Cluster
0    2.403158
1    2.506957
2    2.283788
3    2.370938
Name: ash, dtype: float64