<a href="https://colab.research.google.com/github/carolvieirav/Estatistica_Python/blob/main/Regress%C3%A3o%20M%C3%BAltipla/Aula_Z_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('/content/advertising.csv')

In [3]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [24]:
X = df[['TV']]
y = df['Sales']

model = LinearRegression()

model.fit(X, y)

model.coef_

array([0.05546477])

In [14]:
y  = [model.intercept_ + model.coef_ * x for x in X['TV']]

In [19]:
y = model.predict(X)

In [16]:
df['TV'][0]

230.1

In [17]:
y = model.intercept_ + 0.05 * df['TV'][0]

In [18]:
y

18.47982148822989

In [23]:
tv = df['TV'][0] * 1000

In [25]:
model.fit(X*1000, y)

LinearRegression()

In [26]:
model.coef_

array([5.54647705e-05])

In [27]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [28]:
df['TV'].mean()

147.0425

In [29]:
df['Radio'].mean()

23.264000000000006

# Z - Score

1. Qualquer variável do dataset tem `média = 0`

In [30]:
df['Radio'] - df['Radio'].mean()

0      14.536
1      16.036
2      22.636
3      18.036
4     -12.464
        ...
195   -19.564
196   -18.364
197   -13.964
198    18.736
199   -14.664
Name: Radio, Length: 200, dtype: float64

In [36]:
X_std = (df['Radio'] - df['Radio'].mean())/df['Radio'].std()

In [32]:
X_std = ( X - X.mean() ) / X.std()

In [37]:
X_std = (df['Radio'] - df['Radio'].mean())/df['Radio'].std()
y = df['Sales']

model = LinearRegression()

In [ ]:
model.fit(X_std, y) # errado

In [39]:
from sklearn.preprocessing import StandardScaler

In [42]:
X = df[['Radio']]
y = df['Sales']

In [40]:
scaler =  StandardScaler()

In [41]:
scaler.fit(X) # aprender a média e desvio padrão do X

StandardScaler()

In [43]:
X_std = scaler.transform(X)

In [ ]:
X_std

# StatsModel

In [45]:
import statsmodels.api as sm

In [46]:
X.tail()

     Radio
195    3.7
196    4.9
197    9.3
198   42.0
199    8.6

In [47]:
X =  sm.add_constant(X)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [48]:
model = sm.OLS(y, X)

In [49]:
results = model.fit()

In [50]:
y_pred =  results.predict(X)

In [51]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.122
Model:                            OLS   Adj. R-squared:                  0.118
Method:                 Least Squares   F-statistic:                     27.57
Date:                Tue, 27 Sep 2022   Prob (F-statistic):           3.88e-07
Time:                        19:13:11   Log-Likelihood:                -603.18
No. Observations:                 200   AIC:                             1210.
Df Residuals:                     198   BIC:                             1217.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         12.2357      0.653     18.724      0.000      10.947      13.524
Radio          0.1244      0.024      5.251      0.000       0.078       0.171
==============================================================================
Omnibus:                       11.077   Durbin-Watson:                   2.018
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                9.124
Skew:                          -0.433   Prob(JB):                       0.0104
Kurtosis:                       2.414   Cond. No.                         51.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""