<a href="https://colab.research.google.com/github/carolvieirav/Estatistica_Python/blob/main/Estat%C3%ADstica-Descritiva/resolu%C3%A7%C3%A3o_exercicio_analise_descritiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Descritiva

   
#### Importe todas as bibliotecas necessárias aqui:

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Exercício
#### Nesse exercício usaremos o dataset `Temp_States`. 

#### Primeiro importe o dataset em um dataframe chamado `temp`.

In [3]:
temp = pd.read_csv('/content/Temp_States.csv')

#### Printe `temp`.

In [13]:
temp

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore os tipos de dados do DataFrame `temp`. Que tipo de dados nós temos? Comente sua resposta.

In [5]:
temp.dtypes

City            object
State           object
Temperature    float64
dtype: object

#### Selecione as linhas onde o estado é New York.

In [6]:
# primeira solução .loc
temp.loc[temp['State'] == 'New York']

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

In [7]:
#segunda solução slice
temp[temp['State'] == 'New York']

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

In [8]:
# terceira solução query
temp.query("State == 'New York'")

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### Qual é a temperatura média das cidades em New York?

In [9]:
# repartir o dataframe através de uma condição
# calcular a média com o método da biblioteca numpy

temp[temp['State'] == 'New York'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

Temperature    10.740741
dtype: float64

#### Quais estados e cidades têm a temperatura acima de 15 graus Celsius?

In [10]:
# criar uma variável com a condição 
# usamos o conceito conhecido como máscara para filtrar a condição

above_15 = temp['Temperature'] > 15

# repartir o dataframe com a condição da máscara pelas colunas City e State
temp[above_15][['City', 'State']]

       City        State
0       NYC     New York
3  Hartford  Connecticut
5    Treton   New Jersey
6    Newark   New Jersey


#### Agora, retorne apenas as cidades que têm temperatura acima de 15 graus Celsius.

In [11]:
temp[above_15]['City']

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### Quais cidades têm a temperatura acima de 15 graus Celsius e abaixo de 20 graus Celsius?

**Dica**: Primeiro, escreva a condição. Depois selecione as linhas.

In [12]:
# armazenar em uma variável a máscara (condição usada para filtrar o dataframe)

right_temperature = (temp['Temperature'] > 15) & (temp['Temperature'] < 20)

# repartir o dataframe com a condição da máscara pelas coluna City
temp[right_temperature]['City']

0         NYC
3    Hartford
Name: City, dtype: object

#### Ache a média e o desvio padrão da temperatura de cada estado.

In [ ]:
# exemplo de como fazer sem o groupby

# repartir a coluna Temperature pelos rows de cada estado
# calcular a média e o desvio padrão da repartição do dataframe com o método do numpy

new_york = temp['Temperature'][:3]
new_york.mean()
new_york.std()

In [ ]:
connecticut = temp['Temperature'][3:5].mean()
connecticut.mean()
connecticut.std()

In [ ]:
new_jersey = temp['Temperature'][5:]
new_jersey.mean()
new_jersey.std()

In [ ]:
# solução usando query 

temp.query("State == 'New York'")

In [26]:
# groupby é um método que agrupa valores pela coluna escolhida 
# aplica alguma função matemática (nesse caso a média)
# e combina o resultado

temp.groupby('State').mean()

             Temperature
State
Connecticut    15.833333
New Jersey     21.111111
New York       10.740741

In [27]:
temp.groupby('State').std()

             Temperature
State
Connecticut     1.964186
New Jersey      1.571348
New York        8.133404