<a href="https://colab.research.google.com/github/carolvieirav/Estatistica_Python/blob/main/Regress%C3%A3o%20Log%C3%ADstica/exercicio_regress%C3%A3o_logistica_avalia%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício

Leia o dataset do `titanic.csv` como **df**

In [59]:
#seu código aqui
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
df = pd.read_csv("/content/titanic.csv")

In [61]:
df = df.dropna()

In [62]:
df.shape

(891, 12)

In [63]:
df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,U0,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,U0,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,U0,S

In [64]:
# df['Gender'] = df['Gender'].apply(lambda x : 1 if x == "male" else 0)

# Train e Test

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

importe a função que separa o dataframe entre treino e teste:

`from sklearn.model_selection import train_test_split`

In [65]:
#seu código aqui
from sklearn.model_selection import train_test_split

Agora execute a divisão do dataframe:

`train, test = train_test_split(df, train_size=0.8)`

In [66]:
train, test = train_test_split(df, train_size=0.8)


Você separou o dataset original em train e test. Na verdade, você escondeu parte dos dados para analisar os erros mais tarde.

# Primeiro Passo:

Você selecionará duas variáveis ​​para criar as variáveis ​​preditivas para o seu problema - armazene as colunas `Sexo` e a `Idade` em dataframes chamados `X_train` e `X_test`.

Também armazene a variável `Survived` em pandas series chamados `y_train` e `y_test`. Esta é a sua variável de destino.

In [67]:
X_train = train[['Gender', 'Age']]
X_test  = test[['Gender', 'Age']]

In [68]:
y_train = train['Survived']
y_test = test['Survived']

**Regressão Logistica para Classificação**

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

## Use seu modelo de regressão logística para gerar uma previsão para seus dados de teste.

Crie uma variável chamada `y_pred` para colocar os resultados do modelo. Tente entender o que exatamente o método `.predict()` está fazendo.

In [69]:
#seu código aqui
from sklearn.linear_model import LogisticRegression

In [70]:
model= LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [72]:
y_pred = model.predict(X_test) 

# tá dizendo se o passageiro sobreviveu ou não de acordo com o modelo
# usando a divisão da probabilidade de sobreviver ou não de 50%

## Avaliando os resultados

Use o método do seu modelo chamado `score` para avaliar os resultados em seu conjunto de teste.

In [73]:
#seu código 
model.score(X_test,y_test)

0.770949720670391

## Para pensar:

- O que o método `.score()` calcula?
- Essa métrica é apropriada para este caso de uso? Por quê?

In [ ]:
# acurácia do modelo para a simulação de casos novos
# numero de observações que acertei dividido pelo número de observações total

In [76]:
y_test.value_counts(normalize=True) 

# 58% dos dados são 0 e 41% são 1
# dados desbalanceados

0.0    0.581006
1.0    0.418994
Name: Survived, dtype: float64

## Matriz de confusão

`Print` a matriz de confusão para os resultados obtidos.

## Recall e Precisão

## Calcule a precisão e recall para o conjunto de teste.

_dica: use os métodos de sklearn.metrics_

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.html

## Compare uma medida de acurácia, recall e precisão para conjuntos de treinamento e teste.

Você calculou as métricas para o conjunto de dados de teste. Agora, calcule as métricas para o conjunto de dados de treino e compare os resultados. 

O que você observa? Com base no que você vê, você acha que seu modelo está decorando os dados?