<a href="https://colab.research.google.com/github/carolvieirav/Estatistica_Python/blob/main/Teste%20de%20Hip%C3%B3teses/Resolu%C3%A7%C3%A3o_Exerc%C3%ADcio%20-%20Teste%20de%20Hip%C3%B3tese.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Exercício 

Neste desafio, usaremos o conjunto de dados Pokemon. Antes de aplicar métodos estatísticos a esses dados, vamos primeiro examinar os dados.

Para carregar os dados, execute o código abaixo.

In [2]:
# Execute este código:

pokemon = pd.read_csv('/content/pokemon.csv')

Vamos começar olhando para a função `head` na célula abaixo.

In [3]:
# Seu código aqui:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

A primeira coisa que gostaríamos de fazer é comparar o Pokémon lendário com o Pokémon normal. Para fazer isso, devemos examinar os dados mais a fundo. Qual é a contagem de Pokémons lendários vs. não lendários?

In [25]:
#usando .groupby() e .count()

pokemon.groupby('Legendary')['Total'].count()

Legendary
False    735
True      65
Name: Total, dtype: int64

In [24]:
# usando o método .value_counts()
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Calcule a média e o desvio padrão do total de pontos para Pokémon lendários e não lendários.

In [29]:
# Seu código aqui:
pokemon.groupby('Legendary')['Total'].mean()

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [30]:
pokemon.groupby('Legendary')['Total'].std()

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

O cálculo da média pode nos dar uma pista sobre o resultado do teste estatístico; No entanto, certamente não prova se existe uma diferença significativa entre os dois grupos.

Na célula abaixo, use a função `ttest_ind` em `scipy.stats` para comparar o total de pontos para Pokémon lendários e não lendários. Como não temos informações sobre a população, suponha que as variâncias não sejam iguais.

In [31]:
# Seu código aqui:
from scipy.stats import ttest_ind

In [34]:
# primeiro separo as amostras
sample_01 = pokemon[pokemon['Legendary'] == True]['Total']
sample_02 = pokemon[pokemon['Legendary'] == False]['Total']

In [36]:
ttest_ind(sample_01, sample_02, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

O que você conclui deste teste? Escreva suas conclusões abaixo.

In [ ]:
# Suas conclusões aqui:

Que tal tentarmos comparar os diferentes tipos de pokemon? Na célula abaixo, liste os tipos de Pokémon da coluna `Type 1` e a contagem de cada tipo.

In [37]:
# Seu código aqui:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [47]:
pokemon.groupby('Type 1')['Total'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Total, dtype: int64

Como a água é o maior grupo de Pokémon, compare a média e o desvio padrão dos Pokémon da água com todos os outros Pokémon.

In [40]:
# Seu código aqui:
pokemon.groupby(pokemon['Type 1'] == 'Water')['Total'].mean()

Type 1
False    435.859012
True     430.455357
Name: Total, dtype: float64

In [41]:
pokemon.groupby(pokemon['Type 1'] == 'Water')['Total'].std()

Type 1
False    121.091682
True     113.188266
Name: Total, dtype: float64

Realize um teste de hipótese comparando a média do total de pontos para Pokémon aquáticos com todos os Pokémon não aquáticos. Suponha que as variâncias sejam iguais.

In [43]:
# Seu código aqui:
sample_01 = pokemon[pokemon['Type 1'] == 'Water']['Total']
sample_02 = pokemon[pokemon['Type 1'] != 'Water']['Total']

In [45]:
ttest_ind(sample_01, sample_02, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Escreva suas conclusões aqui

In [ ]:
# Suas conclusões aqui